<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Car_Maintenance_Project"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".BookServiceActivity"
            android:exported="false" />
        <activity
            android:name=".ViewTicketsActivity"
            android:exported="false" />
        <activity
            android:name=".VewTicketsActivity"
            android:exported="false" />
        <activity
            android:name=".CompletedTicketsActivity"
            android:exported="false" />
        <activity
            android:name=".AddCarActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerCars"
            android:exported="false" />
        <activity
            android:name=".CustomerDashboardActivity"
            android:exported="false" /> <!-- Feedback Activity -->
        <activity
            android:name=".feedback"
            android:exported="true"
            android:label="Feedback"
            android:theme="@style/Theme.PartialActivity" /> <!-- Dashboard Activity -->
        <activity
            android:name=".dashboard"
            android:exported="false"
            android:label="Dashboard" /> <!-- Profile Setting Activity -->
        <activity
            android:name=".ProfileSetting"
            android:exported="false"
            android:label="Profile Settings" /> <!-- Email & Password Screen -->
        <activity
            android:name=".EmailPasswordScreen"
            android:exported="true"
            android:label="Email and Password"
            android:theme="@style/Theme.PartialActivity" /> <!-- Change Password Activity -->
        <activity
            android:name=".changepassword"
            android:exported="true"
            android:label="Change Password"
            android:theme="@style/Theme.PartialActivity" /> <!-- Sign Up Activity -->
        <activity
            android:name=".SignUp"
            android:exported="false"
            android:label="Sign Up" /> <!-- Login Activity (Launcher) -->
        <activity
            android:name=".login"
            android:exported="true"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Preloaded Fonts -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>